USE [s16guest41]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 5/5/2016 4:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[branchId] [int] IDENTITY(1,1) NOT NULL,
	[branchNum] [int] NOT NULL,
	[releaseId] [int] NOT NULL,
	[creationDatetime] [datetime] NOT NULL,
	[iteration] [tinyint] NOT NULL,
 CONSTRAINT [PK_Branch_branchId] PRIMARY KEY CLUSTERED 
(
	[branchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[releaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[branchNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_releaseId] FOREIGN KEY([releaseId])
REFERENCES [dbo].[Release] ([releaseId])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_releaseId]
GO
